# Old-school K&R Style
---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ContinuationIndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 0
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: false
SortIncludes: CaseSensitive
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
...
